{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "flowtype"
  ],
  "rules": {
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "indent": [
      "error",
      "tab"
    ],
    "no-tabs": 0
  }
}
